body{
    background-image: url('citylights.webp') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   

}


.top-pg-header{
font-family:'Russo One', sans-serif;;
text-align: center;
margin-top: 5px;
color:palevioletred;

}



textarea.something{
   background:white;
    font-size: 1.5em;
    resize: none;
  }

  .present{
    background-color:lightseagreen;

  }


  .past{
    background-color:darkgray;

  }


  .future{
    background-color:lightgreen;

  }